*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.border-color-nav{
  border-color: #873D00;
}

.border-color-accent{
  border-color: #767676;
}

.bg-image {
  background: url("./images/landing.jpg");
  filter: brightness(0.25);
  -webkit-filter: brightness(0.25);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-crop{
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  max-height: 600px;
  width: 100%;
}

.filter-brightness{
  filter: ;
}

.bg-services{
  background-color: #BABABA;
}


.card-height{
  min-height: 100%;
}


.vh-75{
  height: 75vh;
}
.vh-50{
  height: 50vh;
}
.vh-25{
  height: 25vh;
}

.bg-footer{
  background-color: #EA8300;
}